In [4]:
name : str = "batu"
name2 : str = 12

In [5]:
type(name)
type(name2)

int

In [3]:
is_student : bool = False

In [6]:
def add_numbers(a: int, b: int) -> int:
    pass

In [7]:
def process_value(value: int | str) -> str:
    if isinstance(value, int):
        return f"process integer: {value}"

In [10]:
process_value(50)
process_value([1,2,3])

In [11]:
#python 3.9
from typing import List

def sum_list(nums: List[int]) -> int:
    return sum(nums)

In [12]:
numbers = [1,2,3,4]
total = sum_list(numbers)

In [13]:
total

10