In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
grades = {"Batuhan": 50, "James": 60, "Lars": 30}

In [4]:
pd.Series(grades)

Batuhan    50
James      60
Lars       30
dtype: int64

In [5]:
names = ["Batuhan", "James", "Lars"]
grades = [30, 50, 60]

In [6]:
pd.Series(grades)

0    30
1    50
2    60
dtype: int64

In [7]:
pd.Series(grades, names)

Batuhan    30
James      50
Lars       60
dtype: int64

In [8]:
pd.Series(data=grades, index=names)

Batuhan    30
James      50
Lars       60
dtype: int64

In [9]:
# with numpy

In [10]:
numpy_array = np.array([50,40,30,20])

In [11]:
pd.Series(numpy_array)

0    50
1    40
2    30
3    20
dtype: int64

In [12]:
# arithmetic

In [13]:
contest_result = pd.Series(data=[10,5,100], index=["Batu","Ali","Kemal"])

In [14]:
contest_result2 = pd.Series(data=[20,50,10], index=["Batu","Ali","Kemal"])

In [15]:
contest_result["Ali"]

np.int64(5)

In [16]:
final_result = contest_result + contest_result2

In [17]:
final_result

Batu      30
Ali       55
Kemal    110
dtype: int64

In [18]:
contest_result / contest_result2

Batu      0.5
Ali       0.1
Kemal    10.0
dtype: float64

In [19]:
contest_result - contest_result2

Batu    -10
Ali     -45
Kemal    90
dtype: int64

In [20]:
contest_result * contest_result2

Batu      200
Ali       250
Kemal    1000
dtype: int64

In [23]:
different_series = pd.Series(data=[10,5,100,506], index=["a","b","c","d"])

In [24]:
different_series2 = pd.Series(data=[34,5,34,65], index=["a","c","f","g"])

In [25]:
different_series + different_series2

a     44.0
b      NaN
c    105.0
d      NaN
f      NaN
g      NaN
dtype: float64